/* *{
    background-color: antiquewhite;
} */
.democlass{
  
  height: 50px;
   text-align: right;
   /* list-style: none; */
   padding: 10px;
   font-size: 18px;
   padding: 10px;
   transform: rotate(
-180deg
);
   text-align: justify;
   /* border-bottom: 1px solid rgb(255 85 255 / 33%); */
   margin-bottom: 15px;
   box-shadow: 1px 0px 3px 0 rgb(0 0 0 / 20%);
   border: 2px solid rgb(245 245 245 / 96%);
   border-radius: 16px;
 }
 .realclass{
  height: 50px;
  text-align: right;
  /* list-style: none; */
  padding: 10px;
  font-size: 18px;
  padding: 10px;
  transform: rotate(
-180deg
);
  text-align: justify;
  /* border-bottom: 1px solid rgb(255 85 255 / 33%); */
  margin-bottom: 15px;
  box-shadow: 1px 0px 3px 0 rgb(0 0 0 / 20%);
  border: 2px solid rgb(245 245 245 / 96%);
  border-radius: 16px;

  }
#myfile{
 height: 100px;
 width: 50%;
}

#myProfile{
vertical-align: middle;
/* width: 170px; */
border-radius: 50%;
display: block;
margin: 8px auto;
max-width: 100%;
height: auto;
max-width: 170px;
max-height: 150px;
width: auto;
height: auto;
object-fit: contain;
}
#welcomeUser{
transform: rotate( 
180deg
);
}

#profilePic{
vertical-align: middle;
/* width: 170px; */
border-radius: 50%;
display: block;
margin: 8px auto;
max-width: 100%;
height: auto;
max-width: 170px;
max-height: 150px;
width: auto;
height: auto;
object-fit: contain;
}
.msg{
  background-color: aquamarine;
}
#messtweet{
  max-width: 100%;
  height: auto;
  max-width: 170px;
  max-height: 150px;
  width: auto;
  height: auto;
  object-fit: contain;
  
}